@-moz-document domain(reddit.com) {
  .side {
    height: 200px !important;
    width: 15px !important;
    overflow: hidden !important;
    position: relative !important;
    z-index: 100 !important;
  }

  .side:hover {
    height: 100% !important;
    width: 322px !important;
  }


  .content {
      margin: 0 !important;
  }

  .side:hover ~ .content {
    margin-right: 322px;
  }

  .md {
      max-width: 100% !important;
  }
}

@-moz-document domain(jlai.lu) {
    .post.container-lg {
        max-width: 100% !important;
    }
}


