
@import url(firefox-csshacks/chrome/hide_tabs_with_one_tab_w_window_controls.css);
@import url(firefox-csshacks/chrome/privatemode_indicator_as_menu_button.css);
@import url(firefox-csshacks/chrome/newtab_button_always_on_hover.css);
@import url(firefox-csshacks/chrome/tab_close_button_always_on_hover.css);

/* @import url(firefox-csshacks/chrome/combined_favicon_and_tab_close_button.css); */
@import url(firefox-csshacks/chrome/inline_tab_audio_icons.css);

@import url(firefox-csshacks/chrome/compact_proton.css);
@import url(firefox-csshacks/chrome/compact_extensions_panel.css);

@import url(firefox-csshacks/chrome/urlbar_container_color_border.css);


#tabbrowser-tabs tab {
    min-height: var(--tab-min-height);
    --tab-min-width: 150px !important;
}

#main-window[privatebrowsingmode] .private-browsing-indicator {
  display:none;
}

#main-window[privatebrowsingmode] #nav-bar {
  background: darkred !important;
}
