QTabBar::tab {
  background: #0c0c0d;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 2px solid #0c0c0d;
  border-right: 1px solid #535354;
  padding-left: 3px;
}
QTabBar::tab:next-selected {
  border-right-width: 0px;
}
QTabBar::tab:first {
  border-left: 1px solid #535354;
}
QTabBar::tab:hover {
  border-bottom: 2px solid #515151;
  background: #252526;
}
QTabBar::tab:selected {
  background: #323234;
  border-bottom: 2px solid #0a84ff;
  border-left: 1px solid #0c0c0d;
  border-right: 1px solid #0c0c0d,
}
QTabBar {
  /* alignment: center; */
  background: #0c0c0d;
  border: none;
}
